<div class="card" *ngIf="!showForm">
    <app-dynamic-table [columns]="columns" [loading]="isLoading" [data]="data" [headerTitle]="'DRIVER LIST'"
        [rowActions]="actions" (onAction)="handleAction($event)">
    </app-dynamic-table>
</div>
<div class="min-h-screen p-4" *ngIf="showForm">
    <form [formGroup]="form" (ngSubmit)="saveParty()"
        class="max-w-7xl mx-auto bg-white rounded-xl shadow-md overflow-hidden">
        <!-- Header -->
        <div class="bg-sky-700 px-6 py-4 rounded-t-lg flex justify-between items-center">
            <h1 class="text-2xl font-semibold text-white">
                {{header}}
            </h1>
            <button type="button" class="text-white hover:text-gray-200 focus:outline-none" aria-label="Close"
                (click)="showForm = false">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>
        </div>

        <!-- Main Form Content -->
        <div class="p-6 grid grid-cols-1 lg:grid-cols-2 gap-8 bg-sky-200">
            <!-- Left Column -->
            <div class="space-y-6">
                <!-- Basic Information Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400">
                    <h2 class="text-lg font-semibold text-slate-950 mb-4 pb-2 border-b border-sky-400">
                        <i class="pi pi-user mr-2"></i>Basic Information
                    </h2>
                    <div class="space-y-4">
                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-crown text-yellow-300"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1">
                                Party Name <span class="text-red-700">*</span>
                            </label>
                            </div>
                            <input type="text" formControlName="party_name" pInputText (blur)="aliasName()"
                                class="w-full border border-gray-300 rounded-lg p-3 text-uppercase uppercase" placeholder="Enter Party Name">
                            <span *ngIf="form.get('party_name')?.invalid && form.get('party_name')?.touched && form.get('party_name')?.errors?.['required']" class="text-red-500">
                                Party Name is required.
                            </span>
                        </div>
                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-database text-green-400"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1 text-uppercase uppercase">Alias</label>
                            </div>
                            <input type="text" formControlName="alias" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3 text-uppercase uppercase" placeholder="Enter Alias">
                        </div>
                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-home text-indigo-700"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1">Address</label>
                            </div>
                            <textarea formControlName="address" pInputTextarea
                                class="w-full border border-gray-300 rounded-lg p-3 text-uppercase uppercase" placeholder="Enter Address"
                                rows="3"></textarea>
                        </div>
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                <i class="pi pi-building text-rose-500"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">City</label>
                                </div>
                                <p-autoComplete formControlName="city_id" [suggestions]="filteredCities"
                                    (completeMethod)="filterCity($event)" field="CityName" [dropdown]="true"
                                    placeholder="Select City" class="w-full border border-indigo-200 rounded-md">
                                </p-autoComplete>
                            </div>
                            <div><div class="flex items-center space-x-2">
                                <i class="pi pi-book text-green-400"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">Pin Code</label>
                                </div>
                                <input type="number" formControlName="pin_code" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="Pin Code">
                                <span *ngIf="form.get('pin_code')?.invalid && form.get('pin_code')?.touched && form.get('pin_code')?.errors?.['pattern']" class="text-red-500">
                                    Enter a valid 6-digit PIN Code.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Contact Information Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400">
                    <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-2 border-b border-sky-400">
                        <i class="pi pi-phone mr-2"></i>Contact Information
                    </h2>
                    <div class="space-y-4">
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                <i class="pi pi-phone text-indigi-200"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">
                                    Mobile No <span class="text-red-700">*</span>
                                </label>
                                </div>
                                <input type="number" formControlName="mobileno" pInputText (blur)="autoFillNo()"
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="Mobile No">
                                <span *ngIf="form.get('mobileno')?.invalid && form.get('mobileno')?.touched && form.get('mobileno')?.errors?.['required']" class="text-red-500">
                                    Mobile No is required.
                                </span>
                                <span *ngIf="form.get('mobileno')?.invalid && form.get('mobileno')?.touched && form.get('mobileno')?.errors?.['pattern']" class="text-red-500">
                                    Mobile No must be exactly 10 digits.
                                </span>
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                <i class="pi pi-phone text-green-400"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">WhatsApp No</label>
                                </div>
                                <input type="number" formControlName="whatsappno" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="WhatsApp No">
                                <span *ngIf="form.get('whatsappno')?.invalid && form.get('whatsappno')?.touched && form.get('whatsappno')?.errors?.['pattern']" class="text-red-500">
                                    WhatsApp No must be exactly 10 digits.
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-google text-sky-700"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1">Email</label>
                            </div>
                            <input type="email" formControlName="email" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3" placeholder="Email">
                            <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched && form.get('email')?.errors?.['email']"
                                class="text-red-500">
                                Invalid email address.
                            </span>
                        </div>
                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-info text-red-500"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1">Refer By</label>
                            </div>
                            <input type="text" formControlName="refby" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3" placeholder="Refer By">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Column -->
            <div class="space-y-6">
                <!-- Tax Information Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400">
                    <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-2 border-b border-sky-400">
                        <i class="pi pi-file mr-2"></i>Tax Information
                    </h2>
                    <div class="space-y-4">
                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-comments text-indigo-700"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1">Tax Type</label>
                            </div>
                            <p-dropdown formControlName="tax_type" [options]="taxTypes" optionLabel="label" (onChange)="changeTaxType($event)"
                                optionValue="value" placeholder="Select Tax Type" [showClear]="true"
                                class="w-full border border-gray-300 rounded-lg">
                            </p-dropdown>

                        </div>
                        <div class="grid grid-cols-3 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                <i class="pi pi-check-square text-green-400"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">CGST (%)</label>
                                </div>
                                <input type="number" formControlName="CGST" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="CGST">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                <i class="pi pi-check-circle text-yellow-300"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">SGST (%)</label>
                                </div>
                                <input type="number" formControlName="SGST" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="SGST">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                <i class="pi pi-money-bill text-orange-500"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">IGST (%)</label>
                                </div>
                                <input type="number" formControlName="IGST" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="IGST">
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                <i class="pi pi-paperclip text-indigo-700"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">RCM Applicable</label>
                                </div>
                                <p-dropdown formControlName="rcm" optionLabel="label" [options]="rcmOptions"
                                    optionValue="label" optionValue="value" placeholder="Select..."
                                    class="w-full border border-gray-300 rounded-lg"></p-dropdown>
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                <i class="pi pi-slack text-yellow-400"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">GST No</label>
                                </div>
                                <input type="text" formControlName="gstno" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="GST No">
                                <span *ngIf="form.get('gstno')?.invalid && form.get('gstno')?.touched && form.get('gstno')?.errors?.['pattern']"
                                    class="text-red-500">
                                    Invalid GST No.
                                </span>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                <i class="pi pi-align-center text-indigo-700"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">PAN No</label>
                                </div>
                                <input type="text" formControlName="panno" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="PAN No">
                                <span *ngIf="form.get('panno')?.invalid && form.get('panno')?.touched && form.get('panno')?.errors?.['pattern']"
                                    class="text-red-500">
                                    Invalid PAN No.
                                </span>
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                <i class="pi pi-align-left text-green-400"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">CIN No</label>
                                </div>
                                <input type="text" formControlName="cinno" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="CIN No">
                            </div>
                        </div>
                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-align-right text-red-700"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1">MSME No</label>
                            </div>
                            <input type="text" formControlName="msmeno" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3" placeholder="MSME No">
                        </div>
                    </div>
                </div>

                <!-- Credit Information Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400">
                    <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-2 border-b border-sky-400">
                        <i class="pi pi-credit-card mr-2"></i>Credit Information
                    </h2>
                    <div class="space-y-4">
                        <div class="grid grid-cols-2 gap-4">
                            <div><div class="flex items-center space-x-2">
                                <i class="pi pi-calendar text-green-400"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">Credit Days</label>
                                </div>
                                <input type="number" formControlName="crdays" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="Days">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                <i class="pi pi-hourglass text-yellow-700"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">Credit Limit (₹)</label>
                                </div>
                                <input type="number" formControlName="crlimit" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="Amount">
                            </div>
                        </div>
                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-indian-rupee  text-green-400"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1">Billing Instruction</label>
                            </div>
                            <textarea formControlName="billing_instruction" pInputTextarea
                                class="w-full border border-gray-300 rounded-lg p-3" placeholder="Special instructions"
                                rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer with Submit Button -->
        <div class=" bg-sky-400 px-6 py-4 border-t border-gray-200 flex justify-end">
            <button type="submit" [disabled]="form.invalid"
                class="px-6 py-3 bg-sky-700 text-white font-medium rounded-lg shadow-sm hover:bg-sky-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors">
                Save Party Information
            </button>
        </div>
    </form>
</div>