<div class="card" *ngIf="!showForm">
    <app-dynamic-table [columns]="columns" [loading]="isLoading" [data]="data" [headerTitle]="'COMPANY'"
        [rowActions]="actions" (onAction)="handleAction($event)">
    </app-dynamic-table>
</div>
<div class="min-h-screen  p-4" *ngIf="showForm">
    <form class="max-w-7xl mx-auto bg-white rounded-xl shadow-md overflow-hidden" [formGroup]="form"(ngSubmit)="saveCompany()">
        <!-- Header -->
        <div class="bg-sky-700 px-6 py-4 rounded-t-lg flex justify-between items-center">
            <h1 class="text-2xl font-semibold text-white">
                {{heading}}
            </h1>
            <button type="button" class="text-white hover:text-gray-200 focus:outline-none" aria-label="Close"
                (click)="showForm = false">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>
        </div>
        <!-- Main Form Content -->
        <div class="bg-sky-200 p-6 grid grid-cols-1 lg:grid-cols-2 gap-6 pb-1">
            <!-- Left Column -->
            <div class="space-y-6">
                <!-- General Information Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400 shadow-xl">
                    <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-1 border-b border-sky-400">
                        <i class="text-blue-600 pi pi-info-circle mr-2"></i>Basic Information
                    </h2>
                    <div class="grid grid-cols-1 gap-3">
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                        class="pi pi-building mr-2 text-red-500"></i>Company Name</label>
                                <input type="text" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    placeholder="Enter Company Name" formControlName="companyName">
                                <span *ngIf="form.get('Name')?.touched && form.get('Name')?.errors?.['required']"
                                    class="text-sm text-red-600">
                                    Company Name is required.
                                </span>
                                <span *ngIf="form.get('Name')?.touched && form.get('Name')?.errors?.['minlength']"
                                    class="text-sm text-red-600">
                                    Name must be at least 3 characters.
                                </span>
                            </div>
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                        class="pi pi-tag mr-2 text-green-500"></i>Short Name</label>
                                <input type="text" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    placeholder="Enter Short Name" formControlName="ShortName">
                                <span *ngIf="form.get('ShortName')?.touched && form.get('ShortName')?.errors?.['required']"
                                    class="text-sm text-red-600">
                                    Short Name is required.
                                </span>
                            </div>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                    class="pi pi-map-marker mr-2 text-yellow-500"></i>Company Address</label>
                            <textarea pInputTextarea class="w-full border border-gray-300 rounded-lg p-3"
                                placeholder="Enter Address" rows="3" formControlName="companyAddress"></textarea>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                    class="pi pi-globe mr-2 text-red-500"></i>City Name</label>
                            <input type="text" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                placeholder="Enter City Name" formControlName="companyCity">
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                    class="pi pi-phone mr-2 text-yellow-500"></i>Contact No</label>
                            <input type="text" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                placeholder="Enter Contact No" formControlName="companyPhone">
                        </div>
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                        class="pi pi-envelope mr-2 text-blue-500"></i>Email</label>
                                <input type="text" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    placeholder="Enter Email" formControlName="companyEmail">
                                <span *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']"
                                    class="text-sm text-red-600">
                                    Email is required.
                                </span>
                                <span *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']"
                                    class="text-sm text-red-600">
                                    Enter a valid email address.
                                </span>
                            </div>
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                        class="pi pi-globe mr-2 text-green-500"></i>Website</label>
                                <input type="text" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    placeholder="Enter Website" formControlName="companyWebsite">
                            </div>
                        </div>
                    </div>
                </div>


                
                <!-- Account Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400 shadow-xl">
                    <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-2 border-b border-sky-400">
                        <i class="pi pi-file mr-2 text-blue-600"></i>Account Information
                    </h2>
                    <div class="space-y-4">
                        <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                    class="pi pi-file-import mr-2 text-yellow-500"></i>Benificary Name</label>
                            <input type="text" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                placeholder="Enter Benificary Name" formControlName="companyBenificaryName">
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                    class="pi pi-file-export mr-2 text-blue-500"></i>Bank Name</label>
                            <input type="text" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                placeholder="Enter Bank Name" formControlName="companyBankName">
                        </div>
                        </div>
                        <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                    class="pi pi-file-export mr-2 text-blue-500"></i>Account No</label>
                            <input type="text" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                placeholder="Enter Account No" formControlName="companyBankAccountNo">
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                    class="pi pi-file-export mr-2 text-blue-500"></i>IFSC Code</label>
                            <input type="text" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                placeholder="Enter IFSC Code" formControlName="companyBankIFSC">
                        </div>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                    class="pi pi-file-export mr-2 text-blue-500"></i>Bank Address</label>
                            <textarea pInputTextarea class="w-full border border-gray-300 rounded-lg p-3"
                                placeholder="Enter Bank Address" rows="4" formControlName="companyBankAddress"></textarea>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Right Column -->
            <div class="space-y-6">

                <!-- Registration Details Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400 shadow-xl">
                    <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-2 border-b border-sky-400">
                        <i class="pi pi-clipboard mr-2 text-blue-400"></i>Registration Details
                    </h2>
                    <div class="space-y-4">
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                        class="pi pi-briefcase mr-2 text-yellow-500"></i>GST
                                    No.</label>
                                <input type="text" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    placeholder="Enter GST No." formControlName="companyGSTNo">
                            </div>
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                        class="pi pi-id-card mr-2 text-red-500"></i>PAN
                                    No.</label>
                                <input type="text" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    placeholder="Enter PAN No." formControlName="companyPANNo">
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                        class="pi pi-credit-card mr-2 text-yellow-500"></i>CIN No.</label>
                                <input type="text" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    placeholder="Enter CIN No." formControlName="companyCINNo">
                            </div>
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                        class="pi pi-verified mr-2 text-blue-500"></i>UDYAM</label>
                                <input type="text" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    placeholder="Enter UDYAM" formControlName="Udyam">
                            </div>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                    class="pi pi-hashtag mr-2 text-green-500"></i>HSN Code</label>
                            <input type="text" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                placeholder="Enter HSN Code" formControlName="HSNCode">
                        </div>
                        <div class="grid grid-cols-3 gap-4">
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                        class="pi pi-percentage mr-2 text-blue-500"></i>CGST</label>
                                <input type="text" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    placeholder="Enter CGST" formControlName="companyCGST">
                            </div>
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                        class="pi pi-percentage mr-2 text-green-500"></i>SGST</label>
                                <input type="text" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    placeholder="Enter SGST" formControlName="companySGST">
                            </div>
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                        class="pi pi-percentage mr-2 text-yellow-500"></i>IGST</label>
                                <input type="text" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    placeholder="Enter IGST" formControlName="companyIGST">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Voucher Settings Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400 shadow-xl">
                    <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-2 border-b border-sky-400">
                        <i class="pi pi-file mr-2 text-blue-600"></i>Voucher Settings
                    </h2>
                    <div class="space-y-4">
                        <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                    class="pi pi-file-import mr-2 text-yellow-500"></i>Purchase Voucher Type</label>
                            <input type="text" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                placeholder="Enter Purchase Voucher Type" formControlName="Tally_PurVouchType">
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                    class="pi pi-file-export mr-2 text-blue-500"></i>Sale Voucher Type</label>
                            <input type="text" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                placeholder="Enter Sale Voucher Type" formControlName="Tally_SaleVouchType">
                        </div>
                        </div>
                    </div>
                </div>

                <!--Accounting Configuration  Card -->
                <div class="space-y-6">
                    <div class="bg-sky-100 p-5 rounded-lg border border-sky-400 shadow-xl">
                        <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-2 border-b border-sky-400">
                            <i class="pi pi-credit-card mr-2 text-red-500"></i>Accounting Configuration
                        </h2>
                        <div class="space-y-6">
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                            class="pi pi-wallet mr-2 text-red-500"></i>CGST A/c Name</label>
                                    <input type="text" pInputText
                                        class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                        placeholder="Enter CGST A/c Name" formControlName="Tally_CGSTAcName">
                                </div>
                                <div>
                                    <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                            class="pi pi-wallet mr-2 text-yellow-500"></i>SGST A/c Name</label>
                                    <input type="text" pInputText
                                        class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                        placeholder="Enter SGST A/c Name" formControlName="Tally_SGSTAcName">
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                            class="pi pi-wallet mr-2 text-green-500"></i>IGST A/c Name</label>
                                    <input type="text" pInputText
                                        class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                        placeholder="IGST A/c Name" formControlName="Tally_IGSTAcName">
                                </div>
                                <div>
                                    <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                            class="pi pi-calculator mr-2 text-blue-500"></i>Round Off A/c Name</label>
                                    <input type="text" pInputText
                                        class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                        placeholder="Enter Round Off A/c Name" formControlName="Tally_RndOffAcName">
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                            class="pi pi-shopping-cart mr-2 text-yellow-500"></i>Car Purchase
                                        A/c</label>
                                    <input type="text" pInputText
                                        class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                        placeholder="Enter Car Purchase A/c" formControlName="Tally_CarRentPurchaseAc">
                                </div>
                                <div>
                                    <label class="block text-sm font-medium text-gray-700 mb-1 "><i
                                            class="pi pi-shopping-cart mr-2 text-blue-500"></i>Car Sales A/c</label>
                                    <input type="text" pInputText
                                        class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                        placeholder="Enter Car Sales A/c" formControlName="Tally_CarRentSaleAc">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Upload files Card -->
        <div class="bg-sky-200 p-6 grid grid-cols-1 gap-8">
            <div class="bg-sky-100 p-5 rounded-lg border border-sky-400 shadow-xl">
                <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-2 border-b border-sky-400">
                    <i class="pi pi-file mr-2 text-blue-600"></i>Upload files
                </h2>
                <div class="space-y-4">
                    <div class="grid grid-cols-3 gap-4">
                        <!-- Logo Upload -->
                        <div class="flex flex-col">
                            <label class="block text-sm font-medium text-gray-700 mb-1">
                                <i class="pi pi-image mr-2 text-green-500"></i>Select Logo
                            </label>
                            <div class="flex items-center gap-3">
                                <input type="file" accept="image/*" onchange="file=this.files[0]; if(file){reader=new FileReader(); 
                                    reader.onload=e=>{logoPreview.src=e.target.result; logoPreview.classList.remove('hidden');}; 
                                    reader.readAsDataURL(file);} "
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    formControlName="">
                                <img id="logoPreview" class="w-32 h-32 rounded border object-cover hidden" />
                            </div>
                        </div>

                        <!-- Signature Upload -->
                        <div class="flex flex-col">
                            <label class="block text-sm font-medium text-gray-700 mb-1">
                                <i class="pi pi-pencil mr-2 text-blue-500"></i>Select Signature
                            </label>
                            <div class="flex items-center gap-3">
                                <input type="file" accept="image/*" onchange="file=this.files[0]; if(file){reader=new FileReader(); 
                                    reader.onload=e=>{signaturePreview.src=e.target.result; signaturePreview.classList.remove('hidden');}; 
                                    reader.readAsDataURL(file);} "
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    formControlName="">
                                <img id="signaturePreview" class="w-32 h-32 rounded border object-cover hidden" />
                            </div>
                        </div>

                        <!-- QR Code Upload -->
                        <div class="flex flex-col">
                            <label class="block text-sm font-medium text-gray-700 mb-1">
                                <i class="pi pi-qrcode mr-2 text-black-500"></i>Payment QR Code
                            </label>
                            <div class="flex items-center gap-3">
                                <input type="file" accept="image/*" onchange="file=this.files[0]; if(file){reader=new FileReader(); 
                                    reader.onload=e=>{qrPreview.src=e.target.result; qrPreview.classList.remove('hidden');}; 
                                    reader.readAsDataURL(file);} "
                                    class="w-full border border-gray-300 rounded-lg p-3 text-uppercase"
                                    formControlName="">
                                <img id="qrPreview" class="w-32 h-32 rounded border object-cover hidden" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!-- Footer with Submit Button -->
        <div class="bg-sky-400 px-6 py-3 border-t border-gray-200 flex justify-end gap-3">
             <button type="submit" [disabled]="form.invalid"
                class="px-6 py-3 bg-sky-600  text-white font-medium rounded-lg shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors">
                SAVE
            </button>
        </div>
    </form>
</div>