<!-- Add Booking-->
<div
  *ngIf="!isFullBooking && bookingFrom"
  class="p-6 m-6 rounded-2xl shadow-xl border border-blue-300 bg-gradient-to-r from-white to-blue-50"
>
  <div class="flex items-center justify-between mb-6">
    <!-- Heading -->
    <h2
      class="text-4xl font-extrabold text-blue-600 flex items-center gap-3 m-0"
    >
      <i class="pi pi-calendar-plus text-blue-700 text-3xl"></i>
      Add Booking Information
    </h2>

    <!-- Toggle Button -->
    <div class="flex items-center gap-3">
      <p-toggleButton
        onLabel="fullBooking"
        offLabel="Booking"
        onIcon="pi-check-square"
        offIcon="pi pi-clone"
        styleClass="w-48 h-10"
      ></p-toggleButton>
    </div>
  </div>

  <form [formGroup]="bookingFrom" (ngSubmit)="submitBooking()">
    <!-- Booking Section -->
    <div class="p-6 m-6 rounded-2xl bg-gradient-to-r from-white to-blue-50">
      <!-- Wrap every 3 items -->
      <div class="flex flex-col md:flex-row gap-6 mb-6">
        <!-- Slip No -->
        <div class="flex-1">
          <div class="flex flex-col gap-2 max-w-md w-full">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-file-edit text-xl text-green-600"></i> Slip No
            </label>
            <input
              type="text"
              pInputText
              formControlName="SlipNo"
              placeholder="Slip No *"
              class="w-full !bg-gray-200"
              readonly="true"
            />
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <!-- Entry Time -->
        <div class="flex-1">
          <div class="flex flex-col gap-2 max-w-md w-full">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-clock text-xl text-blue-600"></i> Entry Time
            </label>
            <input
              type="text"
              pInputText
              formControlName="EntryTime"
              placeholder="Entry Time"
              class="w-full !bg-gray-200"
              readonly
            />
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <!-- Entry Date -->
        <div class="flex-1">
          <div class="flex flex-col gap-2 max-w-md w-full">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-calendar-times text-xl text-blue-600"></i> Entry
              Date
            </label>
            <input
              type="text"
              pInputText
              formControlName="EntryDate"
              placeholder="Entry Date"
              class="w-full !bg-gray-200"
              readonly
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-6 mb-6">
        <div class="flex-1">
          <!-- Branch -->
          <div class="flex flex-col gap-2 max-w-md w-full">
            <label class="font-medium text-gray-700 flex items-center gap-2">
              <i class="pi pi-building text-xl text-blue-700"></i> Branch
            </label>

            <p-autoComplete
              (onSelect)="onBranchSelect($event)"
              name="branch"
              [suggestions]="filteredBranches"
              (completeMethod)="filterBranches($event)"
              field="branch_name"
              [dropdown]="true"
              [forceSelection]="true"
              placeholder="Select Branch *"
              class="w-full"
              inputStyleClass="w-full"
              panelStyleClass="w-full"
            >

            </p-autoComplete>
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Rental Date -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-calendar text-xl text-purple-600"></i> Rental Date
            </label>
            <input
              type="date"
              formControlName="RentalDate"
              class="w-full p-2 border rounded-lg"
            />
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Reporting Time -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-clock text-xl text-pink-600"></i> Reporting Time
            </label>
            <input
              type="text"
              pInputText
              formControlName="ReportingDatetime"
              placeholder="Reporting Time *"
              class="w-full"
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-6 mb-6">
        <div class="flex-1">
          <!-- From City -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-map-marker text-xl text-purple-600"></i> From City
            </label>
            <p-autoComplete
              (onSelect)="onCitySelect($event)"
              name="FromCityID"
              [suggestions]="filteredCities"
              (completeMethod)="filterCities($event)"
              field="CityName"
              [dropdown]="true"
              [forceSelection]="true"
              placeholder="From City"
              class="w-full"
              inputStyleClass="w-full"
              panelStyleClass="w-full"
            ></p-autoComplete>
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- To City -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-map text-xl text-green-600"></i> To City
            </label>
            <p-autoComplete
              (onSelect)="onToCitySelect($event)"
              name="ToCityID"
              [suggestions]="filteredToCities"
              (completeMethod)="filterToCities($event)"
              field="CityName"
              [dropdown]="true"
              [forceSelection]="true"
              placeholder="To City *"
              class="w-full"
              inputStyleClass="w-full"
              panelStyleClass="w-full"
            ></p-autoComplete>
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Duty Type -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-check-circle text-xl text-green-700"></i> Duty
              Type
            </label>
            <p-dropdown
              formControlName="DutyType"
              [options]="dutyTypes"
              optionLabel="name"
              optionValue="name"
              placeholder="Duty Type *"
              class="w-full"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-6 mb-6">
        <div class="flex-1">
          <!-- Party -->
          <div class="flex flex-col gap-2">
            <label class="font-medium text-gray-700 flex items-center gap-2">
              <i class="pi pi-users text-xl text-pink-500"></i> Party
            </label>
            <p-autoComplete
              formControlName="Party"
              (onSelect)="onPartyNameSelect($event)"
              name="Party"
              [suggestions]="PartyName"
              (completeMethod)="filterPartyName($event)"
              field="PartyName"
              [dropdown]="true"
              placeholder="Party *"
              class="w-full"
            ></p-autoComplete>
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Report At -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-map text-xl text-purple-600"></i> Report At
            </label>
            <p-dropdown
              formControlName="ReportAt"
              [options]="reportOptions"
              optionLabel="label"
              optionValue="value"
              placeholder="Duty Type *"
              class="w-full"
            ></p-dropdown>
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Project -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-briefcase text-xl text-cyan-600"></i> Project
            </label>
            <input
              type="text"
              pInputText
              formControlName="Project"
              placeholder="Project"
              class="w-full"
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-6 mb-6">
        <div class="flex-1">
          <!-- Email -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-envelope text-xl text-blue-600"></i> Email
            </label>
            <input
              type="email"
              pInputText
              formControlName="Email"
              placeholder="Email"
              class="w-full"
            />
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Travel Mode -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-send text-xl text-blue-600"></i> Flight/Train
            </label>
            <input
              type="text"
              pInputText
              formControlName="Flight_train_No"
              placeholder="Train/Flight"
              class="w-full"
            />
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Booked By -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-user-plus text-xl text-yellow-600"></i> Booked By
            </label>
            <input
              type="text"
              pInputText
              formControlName="BookedBy"
              placeholder="Booked By"
              class="w-full"
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-6 mb-6">
        <div class="flex-1">
          <!-- Contact No -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-phone text-xl text-blue-600"></i> Contact No
            </label>
            <input
              type="text"
              pInputText
              formControlName="ContactNo"
              placeholder="Contact No"
              class="w-full"
            />
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Car Type  -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-car text-xl text-orange-600"></i> Car Type
            </label>
            <p-autoComplete

              (onSelect)="onCarTypeSelect($event)"
              name="CarType"
              [suggestions]="filteredCarTypes"
              (completeMethod)="filterCarTypes($event)"
              field="car_type"
              [dropdown]="true"
              [forceSelection]="true"
              placeholder="Car Type *"
              class="w-full"
              inputStyleClass="w-full"
              panelStyleClass="w-full"
            ></p-autoComplete>
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Booked by Email -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-envelope text-xl text-blue-600"></i> Booked By
              Email
            </label>
            <input
              type="email"
              pInputText
              formControlName="BookedEmail"
              placeholder="Booked By Email"
              class="w-full"
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-6 mb-6">
        <div class="flex-1">
          <!-- Booking Mode -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-directions text-xl text-blue-600"></i> Booking
              Mode
            </label>
            <input
              type="text"
              pInputText
              formControlName="BookingMode"
              placeholder="Booking Mode"
              class="w-full"
            />
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Party Rate Type -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-money-bill text-xl text-blue-600"></i> Party Rate
              Type
            </label>
            <p-dropdown
              formControlName="PartyRateType"
              [options]="partyRateTypes"
              optionLabel="label"
              optionValue="value"
              placeholder="Party Rate Type *"
              class="w-full"
              (onChange)="changePartyRateType()"
            ></p-dropdown>
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Select Rate -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-percentage text-xl text-blue-600"></i> Select Rate
            </label>
            <p-dropdown
              formControlName="SelectRate"
              [options]="selectRates"
              optionLabel="name"
              optionValue="id"
              placeholder="Select Rate *"
              class="w-full"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-6 mb-6">
        <div class="flex-1">
          <!-- Cash & Advanced -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-wallet text-xl text-blue-600"></i> Payment
            </label>
            <div class="flex items-center gap-4">
              <p-checkbox
                formControlName="isCash"
                binary="true"
                inputId="cash"
              ></p-checkbox>
              <label for="cash" class="text-gray-800 text-sm font-medium"
                >Cash</label
              >
              <input
                type="text"
                pInputText
                formControlName="Advance"
                placeholder="Advanced"
                class="w-full"
              />
            </div>
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Price -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-dollar text-xl text-blue-600"></i> Price
            </label>
            <input
              type="text"
              pInputText
              formControlName="Price"
              placeholder="Price"
              class="w-full"
            />
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Hour Rate -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-stopwatch text-xl text-blue-600"></i> Hour Rate
            </label>
            <input
              type="text"
              pInputText
              formControlName="HourRate"
              placeholder="Hour Rate"
              class="w-full"
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-6 mb-6">
        <div class="flex-1"></div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- KM Rate -->
          <div class="flex flex-col gap-2">
            <label class="font-semibold text-gray-800 flex items-center gap-2">
              <i class="pi pi-compass text-xl text-blue-600"></i> KM Rate
            </label>
            <input
              type="text"
              pInputText
              formControlName="KMRate"
              placeholder="KM Rate"
              class="w-full"
            />
          </div>
        </div>

        <p-divider layout="vertical"></p-divider>

        <div class="flex-1">
          <!-- Entry Date -->
        </div>
      </div>

      <!-- Summary -->
      <div
        class="mt-6 grid grid-cols-3 gap-4 text-gray-800 text-lg font-semibold px-4"
      >
        <div>Min Hours: {{ totalHours }}</div>
        <div>Night Halt Time: {{ totalKM }}</div>
        <div>Night Halt Amount: {{ totalKM }}</div>
      </div>
    </div>

    <!-- Guest section -->
    <div class="mt-4 bg-white p-4 rounded-xl">
      <h3 class="text-xl font-semibold text-purple-600 mb-4">Guest Details</h3>
      <p-table [value]="guests" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Guest Name *</th>
            <th>Contact No *</th>
            <th>Additional Contact No *</th>
            <th>Pickup Address *</th>
            <th>Drop Address *</th>
            <th>Remarks</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-guest let-i="rowIndex">
          <tr>
            <td>
              <input
                type="text"
                pInputText
                formControlName="LGustName"
                name="LGustName{{ i }}"
                class="w-full"
                placeholder="Guest Name"
              />
            </td>
            <td>
              <input
                type="text"
                pInputText
                formControlName="LContactNo"
                name="LContactNo{{ i }}"
                class="w-full"
                placeholder="Contact No"
              />
            </td>
            <td>
              <input
                type="text"
                pInputText
                formControlName="LContactNo2"
                name="LContactNo2{{ i }}"
                class="w-full"
                placeholder="Additional Contact No"
              />
            </td>
            <td>
              <textarea
                pInputTextarea
                formControlName="LAddress"
                name="LAddress{{ i }}"
                class="w-full p-inputtext"
                placeholder="Pickup Address"
              ></textarea>
            </td>
            <td>
              <textarea
                pInputTextarea
                formControlName="LDropAddress"
                name="dropAddress{{ i }}"
                class="w-full p-inputtext"
                placeholder="Drop Address"
              ></textarea>
            </td>
            <td>
              <textarea
                pInputTextarea
                formControlName="LRemarks"
                name="remarks{{ i }}"
                class="w-full p-inputtext"
                placeholder="Remarks"
              ></textarea>
            </td>
            <td class="text-center">
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="removeGuest(i)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <button
        pButton
        type="button"
        label="Add Guest"
        icon="pi pi-plus"
        class="mt-4 p-button-success"
        (click)="addGuest()"
      ></button>
    </div>

    <!-- Action Buttons -->
    <div class="flex justify-end mt-6 gap-4">
      <button
        pButton
        type="button"
        label="Close"
        class="p-button-secondary"
      ></button>
      <button
        pButton
        type="button"
        label="Save"
        class="p-button-success"
        (click)="submitBooking()"
      ></button>
    </div>
  </form>
</div>
