<div class="card" *ngIf="!showForm">
    <app-dynamic-table [columns]="columns" [loading]="isLoading" [data]="users"
        [headerTitle]="'DRIVER SALARY & OT SETUP'" [rowActions]="actions" (onAction)="handleAction($event)">
    </app-dynamic-table>

</div>

<div class="min-h-screen p-4" *ngIf="showForm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()"
        class="max-w-7xl mx-auto bg-white rounded-xl shadow-md overflow-hidden">
        <!-- Header -->
        <div class="bg-sky-600 px-6 py-4 rounded-t-lg flex justify-between items-center">
            <h1 class="text-2xl font-semibold text-white">{{ header }}</h1>
            <button type="button" class="text-white hover:text-gray-200 focus:outline-none" aria-label="Close"
                (click)="showForm = false">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>

        </div>

        <!-- Main Form Content -->
        <div class="p-6 grid grid-cols-1 lg:grid-cols-2 gap-4 bg-sky-200">
            <!-- Left Column -->
            <div class="space-y-4">
                <!-- Driver Selection -->
                <div class="flex gap-4">
                    <!-- Select Driver -->
                    <div class="w-1/2">
                        <div class="flex items-center space-x-2">
                                <i class="pi pi-save  text-green-600"></i>
                        <label class="block text-sm font-medium text-indigo-700 mb-2">Select Driver</label>
                    </div>
                        <p-autoComplete formControlName="DriverId" [suggestions]="filteredDrivers"
                            (completeMethod)="filterDrivers($event)" field="drv_name" [dropdown]="true"
                            placeholder="Search driver..."
                            class="w-full border border-gray-300 rounded-lg shadow-sm" styleClass="w-full">
                        </p-autoComplete>
                    </div>

                    <!-- Month/Year -->
                    <div class="w-1/2">
                        <div class="flex items-center space-x-2">
                                <i class="pi pi-file-check text-indigo-700"></i>
                        <label class="block text-sm font-medium text-indigo-700 mb-2">Month/Year</label>
                    </div>
                        <input type="date" formControlName="SetupDate" pInputText
                            class="w-full border border-gray-300 rounded-lg p-3">
                    </div>
                </div>


                <!-- Salary Configuration Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400">
                    <h2 class="text-lg font-semibold text-slate-950 mb-4 pb-2 border-b border-sky-400">
                        <i class="pi pi-wallet mr-2 text-rose-900"></i>Salary Configuration
                    </h2>
                    <div class="space-y-4">

                        <div class="grid grid-cols-2 gap-4">
                            <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-dollar text-orange-600"></i>
                                <label class="text-sm font-medium text-slate-950">Salary Type</label>
                            </div>

                            <p-dropdown formControlName="SalaryType" [options]="salaryTypes" optionLabel="label"
                                optionValue="value" placeholder="Select..."
                                class="w-full border border-gray-300 rounded-lg">
                            </p-dropdown>

                        </div>

                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-file text-fuchsia-600"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">Calculation Basis</label>
                                </div>
                                <p-dropdown formControlName="SalaryCalcOnDaysInMonth" [options]="SalaryCalculate"
                                    optionLabel="label" optionValue="value" placeholder="Select..."
                                    class="w-full border border-gray-300 rounded-lg">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-indian-rupee text-green-700"></i>
                                    <label class="block text-sm font-medium text-slate-950 mb-1">Salary Amount</label>
                                </div>
                                <input type="number" formControlName="BasicSalary" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="0">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-file-edit text-green-700"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">Calculation Days</label>
                                </div>
                                <input type="number" formControlName="SalaryCalcOnDays" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Work Hours Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400">
                    <h2 class="text-lg font-semibold text-slate-950 mb-4 pb-2 border-b border-sky-400">
                        <i class="pi pi-clock mr-2 text-cyan-600"></i>Work Hours & Overtime
                    </h2>
                    <div class="space-y-4">
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-copy text-green-700"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">Over Time Type</label>
                                </div>
                                <p-dropdown formControlName="OverTimeType" [options]="OtTime" optionLabel="label"
                                    placeholder="Select..." optionValue="value"
                                    class="w-full border border-gray-300 rounded-lg">
                                </p-dropdown>
                            </div>

                             <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-indian-rupee text-red-700"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1">Rate</label>
                                </div>
                            <input type="number" formControlName="OTRate" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3" placeholder="0.00">
                        </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-clock text-yellow-500"></i>
                                    
                                <label class="block text-sm font-medium text-slate-950 mb-1">Start Time</label>
                                </div>
                                <input type="time" formControlName="WorkStartTime" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-clock text-green-700"></i>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-pi-chart-pie text-red-700"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">End Time</label>
                                </div>
                                </div>
                                <input type="time" formControlName="WorkEndTime" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3">
                            </div>
                        </div>

                        <div>
                              <div class="flex items-center space-x-2">
                                    <i class="pi pi-history text-lime-500"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1">Total Hours</label>
                              </div>
                            <input type="number" formControlName="DayTotalWorkHours" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3">
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                    </div>

                </div>

            </div>

            <!-- Right Column -->
            <div class="space-y-4">
                <!-- Allowances Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400">
                    <h2 class="text-lg font-semibold text-slate-950 mb-4 pb-2 border-b border-sky-400">
                        <i class="pi pi-money-bill mr-2 text-sky-400"></i>Allowances
                    </h2>
                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <div class="flex items-center space-x-2">
                                    <i class="pi pi-check-square text-green-700"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1">Washing Expense</label>
                            </div>
                            <input type="number" formControlName="WashingAmt" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3" placeholder="0.00">
                        </div>
                        <div>
                             <div class="flex items-center space-x-2">
                                    <i class="pi pi-phone text-green-700"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1">Mobile Expense</label>
                             </div>
                            <input type="number" formControlName="MobileAmt" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3" placeholder="0.00">
                        </div>
                        <div>
                            <div class="flex items-center space-x-2">
                                    <i class="pi pi-star-fill text-yellow-500"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1">Sunday Amount</label>
                            </div>
                            <input type="number" formControlName="SundayAmt" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3" placeholder="0.00">
                        </div>
                    </div>
                </div>


                <!-- Travel Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400">
                    <h2 class="text-lg font-semibold text-slate-950 mb-4 pb-2 border-b border-sky-400">
                        <i class="pi pi-car mr-2 text-green-400"></i>Travel Payments
                    </h2>
                    <div class="space-y-4">
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-directions text-fchsia-500"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">KM Run</label>
                                </div>
                                <input type="number" formControlName="KMRun" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-directions text-green-700"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">KM Amount</label>
                                </div>
                                <input type="number" formControlName="KMRunAmt" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="0.00">
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-chart-line text-yellow-400"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">Khuraki Start</label>
                                </div>
                                <input type="time" formControlName="KhurakiStartTime" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-chevron-circle-down text-green-700"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">Khuraki End</label>
                                </div>
                                <input type="time" formControlName="KhurakiEndTime" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3">
                            </div>
                        </div>

                        <div>
                            <div class="flex items-center space-x-2">
                                    <i class="pi pi-chart-bar text-green-700"></i>
                            <label class="block text-sm font-medium text-slate-950 mb-1">Khuraki Amount</label>
                            </div>
                            <input type="number" formControlName="KhurakiAmt" pInputText
                                class="w-full border border-gray-300 rounded-lg p-3" placeholder="0.00">
                        </div>

                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-moon text-indigo-700"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">Local Night</label>
                                </div>
                                <input type="number" formControlName="LocalNightAmt" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="0.00">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-shop text-green-700"></i>
                                <label class="block text-sm font-medium text-slate-950 mb-1">Out Station Night</label>
                                </div>
                                <input type="number" formControlName="OutStationNightAmt" pInputText
                                    class="w-full border border-gray-300 rounded-lg p-3" placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer with Submit Button -->
        <div class="bg-sky-400 px-6 py-4 border-t border-gray-200 flex justify-end">
            <button type="submit"
                class="px-6 py-3 bg-sky-600 text-white font-medium rounded-lg shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors">
                Save Salary Configuration
            </button>
        </div>
    </form>
</div>