<div class="card">
    <app-dynamic-table [columns]="columns" [data]="users" [headerTitle]="'CHARGES LIST'" [rowActions]="actions"
        (onAction)="handleAction($event)">
    </app-dynamic-table>
</div>

<p-dialog [header]=header [(visible)]="showForm" [modal]="true" [style]="{ width: '90vw', maxWidth: '500px' }"
    [closable]="true" [dismissableMask]="true" [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
    styleClass="custom-dialog p-0 overflow-hidden rounded-xl shadow-lg">


    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="px-2 space-y-4">

        <div>
            <div class="flex items-center gap-2 mb-1 text-gray-700">
                <i class="pi pi-slack text-indigo-600"></i>
                <label for="charge_name" class="text-sm font-medium">Charge Name</label>
            </div>
            <input id="charge_name" pInputText type="text" formControlName="charge_name"
                class="w-full border border-indigo-200 rounded-md focus:border-indigo-500 focus:ring-indigo-500" />
        </div>

        <div class="flex gap-4">
            <!-- Tally Name Field -->
            <div class="w-1/2">
                <div class="flex items-center gap-2 mb-1 text-gray-700">
                    <i class="pi pi-file-o text-indigo-600"></i>
                    <label for="TallyName" class="text-sm font-medium">Tally Name</label>
                </div>
                <input id="TallyName" pInputText type="text" formControlName="TallyName"
                    class="w-full border border-indigo-200 rounded-md focus:border-indigo-500 focus:ring-indigo-500" />
            </div>

            <!-- Taxable Dropdown Field -->
            <div class="w-1/2">
                <div class="flex items-center gap-2 mb-1 text-gray-700">
                    <i class="pi pi-sort-numeric-up text-indigo-600"></i>
                    <label for="taxable" class="text-sm font-medium">Taxable</label>
                </div>
                <p-dropdown inputId="taxable" [options]="taxableOptions" [appendTo]="'body'" formControlName="taxable"
                    optionLabel="label" optionValue="value" placeholder="Select Taxable"
                    class="w-full border border-indigo-200 rounded-md focus:border-indigo-500 focus:ring-indigo-500">
                </p-dropdown>
            </div>
        </div>





        <!-- Buttons -->
        <div class="flex justify-end gap-2 mt-4">
            <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="showForm = false"></button>
            <button pButton type="submit" label="Save" [disabled]="form.invalid"></button>
        </div>

    </form>

</p-dialog>