<div class="card" *ngIf="!showForm">
    <app-dynamic-table [columns]="columns" [loading]="isLoading" [data]="data" [headerTitle]="'MONTHLY DUTY LIST'"
        [rowActions]="actions" (onAction)="handleAction($event)">
    </app-dynamic-table>
</div>
<div class="min-h-screen  p-4" *ngIf="showForm">
    <form class="max-w-7xl mx-auto bg-white rounded-xl shadow-md overflow-hidden" [formGroup]="form"
        (ngSubmit)="saveMonthly()">
        <!-- Header -->
        <div class="bg-sky-700 px-6 py-4 rounded-t-lg flex justify-between items-center">
            <h1 class="text-2xl font-semibold text-white">
                {{heading}}
            </h1>
            <button type="button" class="text-white hover:text-gray-200 focus:outline-none" aria-label="Close"
                (click)="showForm = false">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>
        </div>
        <!-- Main Form Content -->
        <div class="bg-sky-200 p-6 grid grid-cols-1 lg:grid-cols-2 gap-8">


            <!-- Left Column -->
            <div class="space-y-6">
                <!-- General Information Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400 shadow-xl">
                    <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-2 border-b border-sky-400">
                        <i class="text-blue-600 pi pi-info-circle mr-2"></i>General Information
                    </h2>
                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-sitemap text-green-600"></i>
                                <label class="block text-sm font-medium text-gray-700 mb-1">Branch</label>

                                <!-- <span class="text-red-600">*</span> -->
                            </div>

                            <p-autoComplete field="branch_name" [dropdown]="true" placeholder="Select Branch"
                                (completeMethod)="filterbranchlist($event)"
                                class="w-full border border-indigo-200 rounded-md" formControlName="BranchID"
                                [suggestions]="filteredBranch">
                            </p-autoComplete>
                        </div>

                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-address-book text-blue-700"></i>
                                <label class="block text-sm font-medium text-gray-700 mb-1">Party</label>
                            </div>
                            <p-autoComplete field="party_name" [dropdown]="true" placeholder="Select Party"
                                (completeMethod)="filteredPartylist($event)"
                                class="w-full border border-indigo-200 rounded-md" formControlName="PartyID"
                                [suggestions]="filteredParty">
                            </p-autoComplete>
                            
                        </div>

                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-building text-red-600"></i>
                                <label class="block text-sm font-medium text-gray-700 mb-1">To City</label>
                                <span class="text-red-600">*</span>
                            </div>
                            <p-autoComplete field="CityName" [dropdown]="true" placeholder="Select City"
                                (completeMethod)="filterCity($event)" class="w-full border border-indigo-200 rounded-md"
                                formControlName="CityID" optionValue="Id" [suggestions]="filteredCities" >
                            </p-autoComplete>
                        </div>

                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-wrench text-red-400"></i>
                                <label class="block text-sm font-medium text-gray-700 mb-1">Setup Type</label>
                            </div>
                            <p-dropdown placeholder="Select Option" class="w-full border border-indigo-200 rounded-md"
                                [options]="setuptypeOptions" formControlName="SetupType">
                            </p-dropdown>
                        </div>
                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-car text-yellow-500"></i>
                                <label class="block text-sm font-medium text-gray-700 mb-1">Car No</label>
                            </div>
                            <input type="text" pInputText class="w-full mb-2 border border-gray-300 rounded-lg p-3"
                                placeholder="XX-XX-X-XXXX" formControlName="CarNo" />

                            <span *ngIf="form.get('CarNo')?.invalid 
                                      && form.get('CarNo')?.touched 
                                      && form.get('CarNo')?.errors?.['pattern']" class="text-red-500 text-sm">
                                Enter a valid car number
                            </span>
                            
                        </div>

                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-truck text-blue-700"></i>
                                <label class="block text-sm font-medium text-gray-700 mb-1">Car Type</label>
                            </div>
                            <p-autoComplete field="car_type" [dropdown]="true" placeholder="Select Car Type"
                                (completeMethod)="filterCarTypelist($event)"
                                class="w-full border border-indigo-200 rounded-md" formControlName="CarTypeID"
                                [suggestions]="filteredCartype">
                            </p-autoComplete>
                        </div>
                    </div>


                    <div>
                        <div class="flex items-center space-x-2">
                            <i class="pi pi-users text-blue-700"></i>
                            <label class="block text-sm font-medium text-gray-700 mb-1"> Used By</label>

                        </div>
                        <input type="text" pInputText class="w-full mb-2 border border-gray-300 rounded-lg p-3"
                            formControlName="UsedBy" placeholder="Used By">
                    </div>
                    <div class="grid grid-cols-3 gap-4">

                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-calendar-minus text-red-500"></i>
                                <label class="block text-sm font-medium text-gray-700 mb-1">Except Day</label>
                            </div>
                            <p-autoComplete field="name" [dropdown]="true" placeholder="Monday"
                                class="w-full border border-indigo-200 rounded-md" [suggestions]="filteredDays"
                                (completeMethod)="filterDay($event)" formControlName="ExceptDay">
                            </p-autoComplete>

                        </div>
                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-calendar-times text-green-700"></i>
                                <label class="block text-sm font-medium text-gray-700 mb-1">No of days</label>
                            </div>
                            <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                placeholder="0" formControlName="NoofDays">
                        </div>

                        <div>
                            <div class="flex items-center space-x-2">
                                <i class="pi pi-list-check text-blue-500"></i>
                                <label class="block text-sm font-medium text-gray-700 mb-1"> Out Station Duty </label>
                                <!-- <span class="text-red-600">*</span> -->
                            </div>
                            <p-dropdown placeholder="Yes/No" [options]="outStationdutyOptions"
                                class="w-full border border-indigo-200 rounded-md" formControlName="OutStationDuty">
                            </p-dropdown>
                        </div>

                    </div>
                </div>


                <!-- Time Details Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400 shadow-xl">
                    <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-2 border-b border-sky-400">
                        <i class="pi pi-chart-pie mr-2 text-red-500"></i>Time Details
                    </h2>
                    <div class="space-y-4">
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-stopwatch text-orange-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">From Time</label>
                                </div>
                                <input type="time" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    formControlName="FromTime">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-stopwatch text-orange-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">To Time</label>
                                </div>
                                <input type="time" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    formControlName="ToTime">
                               
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-clock text-red-600"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Tot Hrs</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="TotHrs">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-hourglass text-orange-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Total KM</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="TotalKM">
                               
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-clock text-red-600"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">N Halt Time</label>
                                </div>
                                <input type="time" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    formControlName="NHaltTime">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-indian-rupee text-green-600"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">OT Rate</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="OTRate">
                            </div>

                            <div class="flex items-center space-x-2">
                                <i class="pi pi-chart-scatter text-blue-500"></i>
                                <label class="block text-sm font-medium text-gray-700 mb-1">Compare KM Time</label>
                                <input type="checkbox" class="w-full border border-gray-300 rounded-lg p-3"
                                    formControlName="CompareKMTime">
                            </div>



                            <div class="flex items-center space-x-2">
                                <i class="pi pi-calculator text-teal-600"></i>
                                <label class="block text-sm font-medium text-gray-700 mb-1">Calc On Rpt Time</label>
                                <input type="checkbox" class="w-full border border-gray-300 rounded-lg p-3"
                                    formControlName="CalcOnRptTime">
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Right Column -->
            <div class="space-y-6">

                <!-- Distance & Travel Metrics Card -->
                <div class="bg-sky-100 p-5 rounded-lg border border-sky-400 shadow-xl">
                    <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-2 border-b border-sky-400">
                        <i class="pi pi-chart-bar mr-2 text-blue-400"></i>Distance & Travel Metrics
                    </h2>
                    <div class="space-y-4">
                        <div class="grid grid-cols-3 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-arrows-h text-green-600"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Total KM</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="TotalKM">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-gauge text-red-600"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Grg In KM</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="GrgInKM">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-gauge text-red-600"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Grg Out KM</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="GrgOutKM">
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-calendar-plus text-orange-600"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Extra Day KM
                                        Rate</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="ExtraDayKMRate">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-clock text-orange-600"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Extra Day Min Hr</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="ExtraDayMinHr">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-calendar-plus text-teal-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Extra Day Hr
                                        Rate</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="ExtraDayHrRate">
                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-indian-rupee text-green-600"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">KM Rate</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="KMRate">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="space-y-6">
                    <!-- Charges & Rates Information Card -->
                    <div class="bg-sky-100 p-5 rounded-lg border border-sky-400 shadow-xl">
                        <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-2 border-b border-sky-400">
                            <i class="pi pi-receipt mr-2 text-blue-600"></i>Charges & Information
                        </h2>
                        <div class="grid grid-cols-3 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-receipt text-yellow-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Duty Amt</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="DutyAmt">

                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-receipt text-yellow-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Out Station Amt</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="OutStationAmt">

                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-receipt text-yellow-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Per Day Amt</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="PerDayAmt">

                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-receipt text-yellow-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">OT Rate</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="OTRate">

                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-receipt text-yellow-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Extra Month Hrs
                                        Rate</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="ExtraMonthHrsRate">

                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-receipt text-yellow-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Night Amt</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="NightAmt">

                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-receipt text-yellow-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Out Night Rt</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="OutNightRt">

                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-receipt text-yellow-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Extra Amt</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="ExtraAmt">

                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-receipt text-yellow-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Extra Desc</label>
                                </div>
                                <input type="text" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    formControlName="ExtraDesc">

                            </div>
                        </div>

                    </div>
                </div>
                <!-- Right Column -->
                <div class="space-y-6">
                    <!-- Fuel & Maintanance Card -->
                    <div class="bg-sky-100 p-5 rounded-lg border border-sky-400 shadow-xl">
                        <h2 class="text-lg font-semibold text-gray-800 mb-4 pb-2 border-b border-sky-400">
                            <i class="pi pi-wrench mr-2 text-red-600"></i>Fuel & Maintanance
                        </h2>
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-receipt text-yellow-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Fuel Rt</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="FuelRt">

                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-receipt text-yellow-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Fuel Avrg</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="FuelAvrg">

                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-receipt text-yellow-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Mobile Rt</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="MobilRt">

                            </div>
                            <div>
                                <div class="flex items-center space-x-2">
                                    <i class="pi pi-receipt text-yellow-500"></i>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Mobile Avrg</label>
                                </div>
                                <input type="number" pInputText class="w-full border border-gray-300 rounded-lg p-3"
                                    placeholder="0" formControlName="MobilAvrg">

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <!-- Footer with Submit Button -->
        <div class="bg-sky-400 px-6 py-3 border-t border-gray-200 flex justify-end gap-3">
            <button type="submit" [disabled]="form.invalid"
                class="px-6 py-3 bg-sky-600 text-white font-medium rounded-lg shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors">
                Save
            </button>
        </div>
    </form>
</div>